<nav>
<ul>
  <li>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aspernatur et ipsam odio. Aperiam
      eligendi est, hic ipsum nulla pariatur quaerat quod tempora. Deleniti, ratione, vero. Assumenda, quia repudiandae.
    </div>
    <div>Consequuntur delectus ducimus, minus necessitatibus nemo neque unde vero. Ab corporis culpa debitis eaque enim
      error est et id neque nesciunt officia sed soluta, veniam. Dignissimos nam ratione repudiandae veritatis?
    </div>
  </li>
</ul> {{name}}
</nav>
